<link rel="stylesheet" type="text/css" href="{{ 'affiliate-program-benefits.css' | asset_url }}">
<div class="affiliate-program-benefits">
  <div class="container">
    <div class="gradient-bg-to-bottom set-position">
      <h2 class="banner-title">{{ section.settings.title | upcase }}</h2>
      <div class="flag-box">
        {% for block in section.blocks %}
          <div class="item-box">
            <div class="item-index-box">
              <img
                src="https://cdn.shopify.com/s/files/1/0632/4833/5096/files/affiliate-step-flag.png?v=1727070856"
                width="133"
                height="120"
                loading="lazy"
              >
              <span class="item-index">{{ forloop.index }}</span>
            </div>
            <div class="item-info">
              <h3 class="item-title">{{ block.settings.step_title }}</h3>
              <p class="item-des">{{ block.settings.step_des }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Affiliate Pro Benefits",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section title"
    }
  ],
  "blocks": [
    {
      "name": "Every block",
      "type": "card-show",
      "settings": [
        {
          "type": "text",
          "id": "step_title",
          "label": "Step Title"
        },
        {
          "type": "text",
          "id": "step_des",
          "label": "Step Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Affiliate Pro Benefits"
    }
  ]
}
{% endschema %}
