<link rel="stylesheet" type="text/css" href="{{ 'index-service-intro.css' | asset_url }}">
<div class="index-service-intro container index-normal-component">
  <div class="intro-image-wrap">
    {% if section.settings.image != blank %}
      <img
        class="intro-image"
        src="{{ section.settings.image | image_url: width: 1600 }}"
        alt="{{ section.settings.image.alt | default: section.settings.title }}"
        loading="lazy"
        width="1600"
        height="{{ 1600 | divided_by: section.settings.image.aspect_ratio | round }}"
      >
    {% endif %}
    <div class="intro-stats">
      {% for block in section.blocks %}
        <div class="stat-item" {{ block.shopify_attributes }}>
          <div class="stat-number">{{ block.settings.stat_number }}</div>
          <div class="stat-label">{{ block.settings.stat_label }}</div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "BtoB Service Intro",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "背景图片"
    }
  ],
  "blocks": [
    {
      "name": "统计项",
      "type": "stat_item",
      "settings": [
        {
          "type": "text",
          "id": "stat_number",
          "label": "数字",
          "default": "200%"
        },
        {
          "type": "text",
          "id": "stat_label",
          "label": "描述",
          "default": "Capacity Increase"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "BtoB Service Intro",
      "blocks": [
        {
          "type": "stat_item",
          "settings": {
            "stat_number": "200%",
            "stat_label": "Capacity Increase"
          }
        },
        {
          "type": "stat_item",
          "settings": {
            "stat_number": "50%",
            "stat_label": "Time Saved"
          }
        },
        {
          "type": "stat_item",
          "settings": {
            "stat_number": "I2Days",
            "stat_label": "InstallTime"
          }
        },
        {
          "type": "stat_item",
          "settings": {
            "stat_number": "75%",
            "stat_label": "Space Saved"
          }
        }
      ]
    }
  ]
}
{% endschema %}
