{% if section.blocks.size > 0 %}
  {%- liquid
    assign autoplay = section.settings.autoplay
    assign autoplay_speed = section.settings.slideshow_speed
    assign fade = section.settings.slideshow_transition
    assign dots = section.settings.dots
    assign check_video = false
    assign disable_lazyload = section.settings.disable_lazyload
    for block in section.blocks
      if block.type == 'video' or section.settings.enable_categories or section.settings.enable_banner or block.type == 'banner' or block.settings.dpl_slide_img == false
        if block.settings.video_link != blank or block.settings.video_mp4_link != blank or section.settings.layout == 'default' or section.settings.enable_categories or section.settings.enable_banner
          assign check_video = true
          break
        endif
      endif
    endfor
  -%}
  <section
    class="home-slideshow {% if check_video or section.blocks.size == 1 %}hasvideo{% endif %} {% if section.settings.cover_all %}cover-all{% endif %} {% if section.settings.isGradient %}with-shadow{% endif %}"
    id="slideshow-{{section.id}}"
    {% if section.blocks.size > 1 %}
      data-loader-script="{% if check_video %}{{ 'halo.slide-show-hasvideo.min.js' | asset_url }}{% else %}{{ 'halo.slide-show.js' | asset_url }}{% endif %}"
    {% endif %}
  >
    <div class="{% if section.settings.layout == 'default' %}container{% elsif section.settings.layout == 'padd_60' %}container-padd60{% else %}container-fluid{% endif %}">
      {% if section.settings.widget_title != blank %}
        <div class="widget-title{% if section.settings.title_style == 'style_2' %} not-before{% endif %}">
          {% comment %}
            <h3 class="box-title">
              <span class="title">
                {% render 'multilang' with section.settings.widget_title %}
              </span>
            </h3>
          {% endcomment %}
          <h2 class="main-page-title">
            <span class="small-title">{{ section.settings.widget_title | upcase }}</span>
            <span class="text-shadow">{{ section.settings.widget_title | upcase }}</span>
          </h2>
          {% if section.settings.widget_des != blank %}
            <p>
              {% render 'multilang' with section.settings.widget_des %}
            </p>
          {% endif %}
        </div>
      {% endif %}

      <div class="row{% if section.settings.enable_categories %} has-categories{% endif %}{% if section.settings.enable_banner %} has-banner{% endif %}">
        {% if section.settings.enable_categories %}
          <div class="categories-slider">
            <div>
              <div class="label">
                <span>{{ section.settings.text_categories }}</span>
              </div>
              <ul class="categories-slider--list disable-srollbar">
                {% assign menu = linklists[section.settings.menu].links %}
                {% for link in menu %}
                  <li>
                    <a class="item-menu" href="{{ link.url }}">
                      {% assign img = link.handle | downcase | replace: ' ', '-' | append: '.png' | file_url %}
                      <span class="icon-img">
                        <img src="{{ img }}" alt="{{ link.title }}" onError="style.display = 'none';">
                      </span>
                      <span>{{ link.title }}</span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
        <div class="no-padd col-12 init-slider">
          <div
            class="slideshow {% if section.settings.style_slideshow == 'style_2' %}style_2{% endif %}"
            data-auto-video="{{ section.settings.auto_playvideo }}"
            {% if section.blocks.size > 1 %}
              data-init-slideshow data-dots="{{ dots }}" data-autoplay="{{ autoplay }}"
              data-autoplay-speed="{{ autoplay_speed }}" data-fade="{{ fade }}"
            {% endif %}
            data-arrows="{{ section.settings.arrow_active }}"
          >
            {% for block in section.blocks %}
              {% if block.type == 'image' or block.type == 'video' %}
                {% if block.settings.dpl_slide_img %}
                  <div
                    class="item {% if forloop.first %}slide-active{% endif %}"
                    id="block-{{block.id}}"
                    data-index="{{ forloop.index }}"
                  >
                    {% if block.type == 'image' %}
                      {%- assign preview_img = block.settings.image_slide -%}
                      <div class="images-contain">
                        {% if block.settings.image_slide != blank %}
                          {%- assign img_url = block.settings.image_slide -%}
                          <div
                            class="adaptive_height {% if block.settings.image_slide_mb != blank %} slide-pc{% endif %}"
                            style="padding-top: {{ 1 | divided_by: preview_img.aspect_ratio | times: 100 }}%"
                          >
                            {%- if block.settings.is_newsletter_banner -%}
                              <div data-toolbar-newsletter class="cursor-pointer">
                                <img
                                  data-modal-newsletter
                                  data-srcset="{{ img_url }}"
                                  alt="{{ block.settings.image_slide.alt | default: shop.name }}"
                                  class="lazyload"
                                  data-sizes="auto"
                                >
                              </div>
                            {%- else -%}
                              <a
                                {% if block.settings.link == null %}
                                  href="#"
                                {% else %}
                                  href="{{ block.settings.link }}"
                                {% endif %}
                                class="slide-image"
                              >
                                <img
                                  {% if forloop.first == true or disable_lazyload %}
                                    fetchpriority="high"
                                  {% else %}
                                    data-
                                  {%- endif -%}
                                  srcset="
                                    {%- if img_url.width < 320 -%}{{ img_url | image_url: width: img_url.width }} 320w,{%- endif -%}
                                    {%- if img_url.width >= 320 -%}{{ img_url | image_url: width: 375 }} 375w,{%- endif -%}
                                    {%- if img_url.width >= 740 -%}{{ img_url | image_url: width: 740 }} 740w,{%- endif -%}
                                    {%- if img_url.width >= 750 -%}{{ img_url | image_url: width: 750 }} 750w,{%- endif -%}
                                    {%- if img_url.width >= 1100 -%}{{ img_url | image_url: width: 1100 }} 1100w,{%- endif -%}
                                    {%- if img_url.width >= 1370 -%}{{ img_url | image_url: width: 1370 }} 1370w,{%- endif -%}
                                    {%- if img_url.width >= 1500 -%}{{ img_url | image_url: width: 1500 }} 1500w,{%- endif -%}
                                    {%- if img_url.width >= 1770 -%}{{ img_url | image_url: width: 1770 }} 1770w,{%- endif -%}
                                    {%- if img_url.width >= 1780 -%}{{ img_url | image_url: width: 1780 }} 1780w,{%- endif -%}
                                    {%- if img_url.width >= 1880 -%}{{ img_url | image_url: width: 1880 }} 1880w,{%- endif -%}
                                    {%- if img_url.width >= 2000 -%}{{ img_url | image_url: width: 2000 }} 2000w,{%- endif -%}
                                    {%- if img_url.width >= 2800 -%}{{ img_url | image_url: width: 2800 }} 2800w{%- endif -%}
                                  "
                                  width="{{ img_url.width }}"
                                  height="{{ img_url.width | divided_by: img_url.aspect_ratio | round }}"
                                  {%- if forloop.first == false and disable_lazyload == false -%}
                                    class="lazyload"
                                    {% unless settings.enable_layout_rtl %}loading="lazy"{% endunless %}
                                  {%- endif -%}
                                  {% unless forloop.first == false %}
                                    src="{{ img_url | image_url: width: 1100 }}"
                                  {% endunless %}
                                  alt="{{ block.settings.image_slide.alt | default: shop.name }}"
                                  data-sizes="auto"
                                >
                              </a>
                            {%- endif -%}
                          </div>
                        {% else %}
                          <div class="not_img {% if block.settings.image_slide_mb != blank %} slide-pc{% endif %}">
                            1880 x 720px
                          </div>
                        {% endif %}

                        {% if block.settings.image_slide_mb != blank %}
                          {%- assign preview_img_mb = block.settings.image_slide_mb -%}
                          {%- assign img_url_mb = block.settings.image_slide_mb -%}
                          <div
                            class="adaptive_height slide-mobile"
                            style="padding-top: {{ 1 | divided_by: preview_img_mb.aspect_ratio | times: 100 }}%"
                          >
                            {%- if block.settings.is_newsletter_banner -%}
                              <div data-toolbar-newsletter class="cursor-pointer">
                                <img
                                  data-modal-newsletter
                                  data-srcset="{{ img_url_mb }}"
                                  alt="{{ block.settings.image_slide_mb.alt | default: shop.name }}"
                                  class="lazyload"
                                  data-sizes="auto"
                                >
                              </div>
                            {%- else -%}
                              <a
                                {% if block.settings.link == null %}
                                  href="#"
                                {% else %}
                                  href="{{ block.settings.link }}"
                                {% endif %}
                                class="slide-image"
                              >
                                <img
                                  {% if forloop.first == true %}
                                    fetchpriority="high"
                                  {% else %}
                                    data-
                                  {%- endif -%}
                                  srcset="
                                    {%- if img_url_mb.width < 320 -%}{{ img_url_mb | image_url: width: img_url_mb.width }} 320w,{%- endif -%}
                                    {%- if img_url_mb.width >= 320 -%}{{ img_url_mb | image_url: width: 375 }} 375w,{%- endif -%}
                                    {%- if img_url_mb.width >= 750 -%}{{ img_url_mb | image_url: width: 750 }} 750w,{%- endif -%}
                                    {%- if img_url_mb.width >= 1100 -%}{{ img_url_mb | image_url: width: 1100 }} 1100w,{%- endif -%}
                                    {%- if img_url_mb.width >= 1370 -%}{{ img_url_mb | image_url: width: 1370 }} 1370w,{%- endif -%}
                                    {%- if img_url_mb.width >= 1500 -%}{{ img_url_mb | image_url: width: 1500 }} 1500w,{%- endif -%}
                                    {%- if img_url_mb.width >= 1780 -%}{{ img_url_mb | image_url: width: 1780 }} 1780w,{%- endif -%}
                                    {%- if img_url_mb.width >= 2000 -%}{{ img_url_mb | image_url: width: 2000 }} 2000w,{%- endif -%}
                                    {%- if img_url_mb.width >= 2800 -%}{{ img_url_mb | image_url: width: 2800 }} 2800w{%- endif -%}
                                  "
                                  {% unless forloop.first == false %}
                                    src="{{ img_url_mb | image_url: width: 750 }}"
                                  {% endunless %}
                                  width="{{ img_url_mb.width }}"
                                  height="{{ img_url_mb.width | divided_by: img_url_mb.aspect_ratio | round}}"
                                  alt="{{ block.settings.image_slide_mb.alt | default: shop.name }}"
                                  {%- if forloop.first == false -%}
                                    class="lazyload"
                                    {% unless settings.enable_layout_rtl %}loading="lazy"{% endunless %}
                                  {%- endif -%}
                                  data-sizes="auto"
                                >
                              </a>
                            {%- endif -%}
                          </div>
                        {% endif %}
                        {% if block.settings.banner_note != blank %}
                          <div class="banner-note">{{ block.settings.banner_note }}</div>
                        {% endif %}
                        {% if block.settings.under_banner_note != blank %}
                          <div class="under-banner-note">{{ block.settings.under_banner_note }}</div>
                        {% endif %}
                        {% if block.settings.lb_product_1 != blank %}
                          <div
                            class="select-icon lb-icon-1-{{ block.id }}"
                            data-lookbook-icon
                            data-handle="{{ block.settings.lb_product_1 }}"
                          >
                            <span class="glyphicon"></span>
                          </div>
                        {% endif %}

                        {% if block.settings.lb_product_2 != blank %}
                          <div
                            class="select-icon lb-icon-2-{{ block.id }}"
                            data-lookbook-icon
                            data-handle="{{ block.settings.lb_product_2 }}"
                          >
                            <span class="glyphicon"></span>
                          </div>
                        {% endif %}

                        {% if block.settings.lb_product_3 != blank %}
                          <div
                            class="select-icon lb-icon-3-{{ block.id }}"
                            data-lookbook-icon
                            data-handle="{{ block.settings.lb_product_3 }}"
                          >
                            <span class="glyphicon"></span>
                          </div>
                        {% endif %}

                        {% if block.settings.lb_product_4 != blank %}
                          <div
                            class="select-icon lb-icon-4-{{ block.id }}"
                            data-lookbook-icon
                            data-handle="{{ block.settings.lb_product_4 }}"
                          >
                            <span class="glyphicon"></span>
                          </div>
                        {% endif %}

                        {% if block.settings.lb_product_5 != blank %}
                          <div
                            class="select-icon lb-icon-5-{{ block.id }}"
                            data-lookbook-icon
                            data-handle="{{ block.settings.lb_product_5 }}"
                          >
                            <span class="glyphicon"></span>
                          </div>
                        {% endif %}

                        {% if block.settings.lb_product_6 != blank %}
                          <div
                            class="select-icon lb-icon-6-{{ block.id }}"
                            data-lookbook-icon
                            data-handle="{{ block.settings.lb_product_6 }}"
                          >
                            <span class="glyphicon"></span>
                          </div>
                        {% endif %}

                        <style type="text/css">
                          #slideshow-{{section.id}} .lb-icon-1-{{ block.id }}{
                            top:{{ block.settings.top_position_1 }}%;
                            left:{{ block.settings.left_position_1 }}%;
                          }
                          #slideshow-{{section.id}} .lb-icon-1-{{ block.id }} .glyphicon {
                          background-color: {{ block.settings.dots_bg_color_1 }};
                          }
                          #slideshow-{{section.id}} .lb-icon-1-{{ block.id }} .glyphicon:before,
                          #slideshow-{{section.id}} .lb-icon-1-{{ block.id }} .glyphicon:after {
                          background-color: {{ block.settings.dots_color_1 }};
                          }
                          #slideshow-{{section.id}} .lb-icon-1-{{ block.id }}:before{
                          color: {{ block.settings.dots_shadow_color_1 }};
                          }

                          #slideshow-{{section.id}} .lb-icon-2-{{ block.id }}{
                            top:{{ block.settings.top_position_2 }}%;
                            left:{{ block.settings.left_position_2 }}%;
                          }
                          #slideshow-{{section.id}} .lb-icon-2-{{ block.id }} .glyphicon {
                          background-color: {{ block.settings.dots_bg_color_2 }};
                          }
                          #slideshow-{{section.id}} .lb-icon-2-{{ block.id }} .glyphicon:before,
                          #slideshow-{{section.id}} .lb-icon-2-{{ block.id }} .glyphicon:after {
                          background-color: {{ block.settings.dots_color_2 }};
                          }
                          #slideshow-{{section.id}} .lb-icon-2-{{ block.id }}:before{
                          color: {{ block.settings.dots_shadow_color_2 }};
                          }

                          #slideshow-{{section.id}} .lb-icon-3-{{ block.id }}{
                            top:{{ block.settings.top_position_3 }}%;
                            left:{{ block.settings.left_position_3 }}%;
                          }
                          #slideshow-{{section.id}} .lb-icon-3-{{ block.id }} .glyphicon {
                          background-color: {{ block.settings.dots_bg_color_3 }};
                          }
                          #slideshow-{{section.id}} .lb-icon-3-{{ block.id }} .glyphicon:before,
                          #slideshow-{{section.id}} .lb-icon-3-{{ block.id }} .glyphicon:after {
                          background-color: {{ block.settings.dots_color_3 }};
                          }
                          #slideshow-{{section.id}} .lb-icon-3-{{ block.id }}:before{
                          color: {{ block.settings.dots_shadow_color_3 }};
                          }

                          #slideshow-{{section.id}} .lb-icon-4-{{ block.id }}{
                            top:{{ block.settings.top_position_4 }}%;
                            left:{{ block.settings.left_position_4 }}%;
                          }
                          #slideshow-{{section.id}} .lb-icon-4-{{ block.id }} .glyphicon {
                          background-color: {{ block.settings.dots_bg_color_4 }};
                          }
                          #slideshow-{{section.id}} .lb-icon-4-{{ block.id }} .glyphicon:before,
                          #slideshow-{{section.id}} .lb-icon-4-{{ block.id }} .glyphicon:after {
                          background-color: {{ block.settings.dots_color_4 }};
                          }
                          #slideshow-{{section.id}} .lb-icon-4-{{ block.id }}:before{
                          color: {{ block.settings.dots_shadow_color_4 }};
                          }

                          #slideshow-{{section.id}} .lb-icon-5-{{ block.id }}{
                            top:{{ block.settings.top_position_5 }}%;
                            left:{{ block.settings.left_position_5 }}%;
                          }
                          #slideshow-{{section.id}} .lb-icon-5-{{ block.id }} .glyphicon {
                          background-color: {{ block.settings.dots_bg_color_5 }};
                          }
                          #slideshow-{{section.id}} .lb-icon-5-{{ block.id }} .glyphicon:before,
                          #slideshow-{{section.id}} .lb-icon-5-{{ block.id }} .glyphicon:after {
                          background-color: {{ block.settings.dots_color_5 }};
                          }
                          #slideshow-{{section.id}} .lb-icon-5-{{ block.id }}:before{
                          color: {{ block.settings.dots_shadow_color_5 }};
                          }

                          #slideshow-{{section.id}} .lb-icon-6-{{ block.id }}{
                            top:{{ block.settings.top_position_6 }}%;
                            left:{{ block.settings.left_position_6 }}%;
                          }
                          #slideshow-{{section.id}} .lb-icon-6-{{ block.id }} .glyphicon {
                          background-color: {{ block.settings.dots_bg_color_6 }};
                          }
                          #slideshow-{{section.id}} .lb-icon-6-{{ block.id }} .glyphicon:before,
                          #slideshow-{{section.id}} .lb-icon-6-{{ block.id }} .glyphicon:after {
                          background-color: {{ block.settings.dots_color_6 }};
                          }
                          #slideshow-{{section.id}} .lb-icon-6-{{ block.id }}:before{
                          color: {{ block.settings.dots_shadow_color_6 }};
                          }

                          {% comment %} 折扣按钮配置 {% endcomment %}
                          #slideshow-{{section.id}} #block-{{block.id}} .absolute-copy-btn-1{
                            top: {{ block.settings.discount_btn_top_position_1 }}%;
                            left: {{ block.settings.discount_btn_left_position_1 }}%;
                          }
                          #slideshow-{{section.id}} #block-{{block.id}} .absolute-copy-btn-2{
                            top: {{ block.settings.discount_btn_top_position_2 }}%;
                            left: {{ block.settings.discount_btn_left_position_2 }}%;
                          }
                          #slideshow-{{section.id}} #block-{{block.id}} .absolute-copy-btn-3{
                            top: {{ block.settings.discount_btn_top_position_3 }}%;
                            left: {{ block.settings.discount_btn_left_position_3 }}%;
                          }

                          #slideshow-{{section.id}} #block-{{block.id}} .copy-btn{
                            width: {{ block.settings.discount_btn_width }}%;
                            height: {{ block.settings.discount_btn_height }}%;
                            font-size: {{ block.settings.discount_btn_font_size }}vw;

                            color: {{ block.settings.discount_btn_color }};
                            background: {{ block.settings.discount_btn_bg }};
                            border: {{block.settings.discount_btn_border_bold}}px solid {{block.settings.discount_btn_border_color}};
                          }

                          #slideshow-{{section.id}} #block-{{block.id}} .copy-discount-code-cover{
                            color: {{ block.settings.discount_btn_cover_fz_color }} !important;
                            background: {{ block.settings.discount_btn_cover_bg_color }};
                          }
                          {% comment %} 折扣按钮配置 end {% endcomment %}


                          @media (min-width: 768px) {
                              #slideshow-{{section.id}} #block-{{block.id}} .slide-content.abs_custom {
                                  left: {{ block.settings.alignment_custom }};
                              }
                          }

                          @media (max-width: 767px){
                            #slideshow-{{section.id}} .lb-icon-1-{{ block.id }}{
                              top:{{ block.settings.top_position_1_mb }}%;
                              left:{{ block.settings.left_position_1_mb }}%;
                            }
                            #slideshow-{{section.id}} .lb-icon-2-{{ block.id }}{
                              top:{{ block.settings.top_position_2_mb }}%;
                              left:{{ block.settings.left_position_2_mb }}%;
                            }
                            #slideshow-{{section.id}} .lb-icon-3-{{ block.id }}{
                              top:{{ block.settings.top_position_3_mb }}%;
                              left:{{ block.settings.left_position_3_mb }}%;
                            }
                            #slideshow-{{section.id}} .lb-icon-4-{{ block.id }}{
                              top:{{ block.settings.top_position_4_mb }}%;
                              left:{{ block.settings.left_position_4_mb }}%;
                            }
                            #slideshow-{{section.id}} .lb-icon-5-{{ block.id }}{
                              top:{{ block.settings.top_position_5_mb }}%;
                              left:{{ block.settings.left_position_5_mb }}%;
                            }
                            #slideshow-{{section.id}} .lb-icon-6-{{ block.id }}{
                              top:{{ block.settings.top_position_6_mb }}%;
                              left:{{ block.settings.left_position_6_mb }}%;
                            }

                            {% comment %} 折扣按钮配置MB {% endcomment %}
                            #slideshow-{{section.id}} #block-{{block.id}} .absolute-copy-btn-1{
                              top: {{ block.settings.discount_btn_top_position_1_mb }}%;
                              left: {{ block.settings.discount_btn_left_position_1_mb }}%;
                            }
                            #slideshow-{{section.id}} #block-{{block.id}} .absolute-copy-btn-2{
                              top: {{ block.settings.discount_btn_top_position_2_mb }}%;
                              left: {{ block.settings.discount_btn_left_position_2_mb }}%;
                            }
                            #slideshow-{{section.id}} #block-{{block.id}} .absolute-copy-btn-3{
                              top: {{ block.settings.discount_btn_top_position_3_mb }}%;
                              left: {{ block.settings.discount_btn_left_position_3_mb }}%;
                            }

                            #slideshow-{{section.id}} #block-{{block.id}} .copy-btn{
                              width: {{ block.settings.discount_btn_width_mb }}%;
                              height: {{ block.settings.discount_btn_height_mb }}%;
                              font-size: {{ block.settings.discount_btn_font_size_mb }}vw;
                            }

                            {% comment %} 折扣按钮配置MB end {% endcomment %}
                          }
                        </style>
                      </div>

                    {% elsif block.type == 'video' %}
                      {% if block.settings.style_video == 'youtube' %}
                        <div
                          data-video-youtube
                          class="item slide-youtube embed-responsive item-video"
                          id="slide-{{ block.id }}"
                        >
                          <div class="fluid-width-video-wrapper">
                            <iframe
                              allowfullscreen=""
                              class="youtube-player lazyload hs-id-0d27a2cf"
                              data-src="https://www.youtube.com/embed/{{ block.settings.video_link }}?enablejsapi=1&amp;rel=0&amp;autoplay=0&amp;mute=1"
                              data-video-id="{{ block.settings.video_link }}"
                              frameborder="0"
                              height="100%"
                              id="player_{{ block.id }}"
                              width="100%"
                            >
                            </iframe>
                          </div>
                        </div>

                      {% else %}
                        <div data-video-mp4 class="item slide-video item-video" id="slide-{{ block.id }}">
                          <div class="fluid-width-video-wrapper">
                            <video class="video" muted playsinline preload="none" autoplay loop>
                              <source type="video/mp4" src="{{ block.settings.video_mp4_link }}">
                            </video>
                          </div>
                        </div>
                      {% endif %}
                    {% endif %}
                    {% if block.settings.show_discount_btn %}
                      {%- for i in (1..3) -%}
                        {%- case i -%}
                          {%- when 1 -%}
                            {%- assign code = settings.discount_1_code -%}
                            {%- assign show_btn = block.settings.show_discount_btn_1 -%}
                          {%- when 2 -%}
                            {%- assign code = settings.discount_2_code -%}
                            {%- assign show_btn = block.settings.show_discount_btn_2 -%}
                          {%- when 3 -%}
                            {%- assign code = settings.discount_3_code -%}
                            {%- assign show_btn = block.settings.show_discount_btn_3 -%}
                        {%- endcase -%}

                        {%- if code != blank and show_btn -%}
                          <button
                            class="absolute-copy-btn-{{ i }} copy-btn"
                            copy-discount-code
                            data-clipboard-text="{{ code }}"
                          >
                            CODE: {{ code }}&nbsp;{% render 'icon-copy' %}
                          </button>
                        {%- endif -%}
                      {%- endfor -%}
                    {% endif %}

                    {% if block.settings.heading != blank
                      or block.settings['slide-des'] != blank
                      or block.settings.button_slide != blank
                      or block.settings.button_slide_2 != blank
                    %}
                      <div class="slide-content {% if block.settings.style_content == 'style_2' %}style_2 {% elsif block.settings.style_content == 'style_3' %}style_3 {% elsif block.settings.style_content == 'style_4' %}style_4 {% endif %}{% if block.settings.alignment == 'left' %}abs_left{% elsif block.settings.alignment == 'right' %}abs_right{% elsif block.settings.alignment == 'center'%}abs_center{% else %}abs_custom{% endif %} {% if block.settings.text_alignment == 'left' %}text_left{% elsif block.settings.text_alignment == 'right' %}text_right{% else %}text_center{% endif %}">
                        {% if block.settings.heading != blank or block.settings.sub_heading %}
                          {% if block.settings.sub_heading != blank and block.settings.special_sub_heading == false %}
                            <h3
                              class="slide-sub"
                              style="
                                {% if block.settings.font_size_sub_heading != blank %}
                                font-size: {{ block.settings.font_size_sub_heading }};
                                {% endif %}
                                {% if block.settings.color_sub_heading != blank %}
                                color:{{ block.settings.color_sub_heading }};
                                {% endif %}
                              "
                            >
                              {% render 'multilang' with block.settings.sub_heading %}
                            </h3>
                          {% elsif block.settings.sub_heading != blank and block.settings.special_sub_heading == true %}
                            <h3 class="special-sub-heading">
                              {% render 'multilang' with block.settings.sub_heading %}
                            </h3>
                          {% endif %}
                          <h2
                            class="slide-heading"
                            style="
                              {% if block.settings.font_size_heading != blank %}
                              font-size: {{ block.settings.font_size_heading }};
                              {% endif %}
                              {% if block.settings.color_heading != blank %}
                              color:{{ block.settings.color_heading }};
                              {% endif %}
                              {% if block.settings.sub_heading != blank %}
                              text-transform: capitalize;
                              margin-bottom: 12px;
                              {% endif %}
                            "
                          >
                            {% comment %}
                              {% if block.settings.sub_heading == blank %}
                                <span class="line" style="background-color: {{ block.settings.color_heading }};"></span>
                              {% endif %}
                            {% endcomment %}
                            {% render 'multilang' with block.settings.heading %}
                          </h2>
                        {% endif %}

                        {% if block.settings['slide-des'] != blank %}
                          <p
                            class="slide-text"
                            style="
                              {% if block.settings.font_size_des != blank %}
                              font-size: {{ block.settings.font_size_des }};
                              {% endif %}
                              {% if block.settings.color_des != blank %}
                              color: {{ block.settings.color_des }};
                              {% endif %}
                            "
                          >
                            {% render 'multilang' with block.settings['slide-des'] %}
                          </p>
                          <style>
                            @media (min-width: 769px){
                                {% if block.settings.sub_heading != blank %}
                                .slide-content .slide-text{
                                    margin-bottom: 45px;
                                }
                                {% endif %}
                            }
                          </style>
                        {% endif %}

                        {% if block.settings.button_slide != blank and block.settings.special_slideshow_btn == false %}
                          {%- assign btn_link = block.settings.link -%}
                          <a
                            href="{% if btn_link == nil or btn_link == '' or btn_link == "#" %}#{% else %}{{ btn_link }}{% endif %}"
                            class="slide-button slide-button-1 btn{% if block.settings.slide-des == blank %} no-des{% endif %}"
                            style="
                              {% if block.settings.bg_button != blank %}
                              background-color:{{ block.settings.bg_button }};
                              {% endif %}
                              {% if block.settings.border_button != blank %}
                              border-color:{{ block.settings.border_button }};
                              {% endif %}
                              {% if block.settings.color_button != blank %}
                              color:{{ block.settings.color_button }};
                              {% endif %}
                              {% if block.settings.sub_heading != blank %}
                                  padding: 15px 25px 13px;
                                  {% if settings.layout_home == 'layout_home_4' %}
                                      border-radius: 0px;
                                      font-weight: 600;
                                  {% elsif settings.layout_home == 'layout_home_7' or settings.layout_home == 'layout_home_14' %}
                                      border-radius: 0px;
                                      font-weight: 500;
                                  {% elsif settings.layout_home == 'layout_home_18' %}
                                      border-radius: 0px;
                                      font-weight: 700;
                                  {% elsif settings.layout_home == 'layout_home_9' %}
                                      border-radius: 4px;
                                      font-weight: 700;
                                  {% else %}
                                      border-radius: 30px;
                                      font-weight: 600;
                                  {% endif %}
                              {% endif %}
                              {% if settings.style_button == 'style_button_2' %}
                                  padding: 20px 25px 18px;
                              {% endif %}
                            "
                          >
                            {% render 'multilang' with block.settings.button_slide %}
                          </a>
                        {% elsif block.settings.button_slide != blank and block.settings.special_slideshow_btn %}
                          <div class="special-slideshow-btn">
                            {% render 'multilang' with block.settings.button_slide %}
                          </div>
                        {% endif %}

                        {% if block.settings.button_slide_2 != blank %}
                          <a
                            href="{{ block.settings.link_2 }}"
                            class="slide-button slide-button-2 btn{% if block.settings.slide-des == blank %} no-des{% endif %}"
                            style="
                              {% if block.settings.bg_button != blank %}
                              background-color:{{ block.settings.bg_button }};
                              {% endif %}
                              {% if block.settings.border_button != blank %}
                              border-color:{{ block.settings.border_button }};
                              {% endif %}
                              {% if block.settings.color_button != blank %}
                              color:{{ block.settings.color_button }};
                              {% endif %}

                              {% if block.settings.sub_heading != blank %}
                                  padding: 15px 25px 13px;
                                  {% if settings.layout_home == 'layout_home_4' %}
                                      border-radius: 0px;
                                      font-weight: 600;
                                  {% elsif settings.layout_home == 'layout_home_7' or settings.layout_home == 'layout_home_14' %}
                                      border-radius: 0px;
                                      font-weight: 500;
                                  {% elsif settings.layout_home == 'layout_home_18' %}
                                      border-radius: 0px;
                                      font-weight: 700;
                                  {% elsif settings.layout_home == 'layout_home_9' %}
                                      border-radius: 4px;
                                      font-weight: 700;
                                  {% else %}
                                      border-radius: 30px;
                                      font-weight: 600;
                                  {% endif %}
                              {% endif %}
                              {% if settings.style_button == 'style_button_2' %}
                                  padding: 20px 25px 18px;
                              {% endif %}
                            "
                          >
                            {% render 'multilang' with block.settings.button_slide_2 %}
                          </a>
                        {% endif %}

                        <style>
                          {% if settings.layout_home == 'layout_home_7' %}
                              #block-{{block.id}} .slide-content.style_4 .slide-heading span:before {
                                  background: {{ block.settings.color_heading_style_4 }};
                              }
                              #block-{{block.id}} .slide-content.style_4 .slide-button:before {
                                  border: 1px solid {{ block.settings.border_button }};
                              }
                              @media (min-width: 1200px) {
                                  #block-{{block.id}} .slide-content .slide-button:hover {
                                      background-color:{{ block.settings.color_button }} ;
                                      border-color:{{ block.settings.border_button }} ;
                                      color:{{ block.settings.bg_button }} ;
                                  }
                              }
                          {% endif %}

                          @media (max-width: 1199px) {
                              #block-{{block.id}} .slide-content .slide-heading {
                                   font-size: {{block.settings.font_size_heading_mb}} ;
                              }
                              #block-{{block.id}} .slide-content .slide-sub {
                                  font-size: {{block.settings.font_size_sub_heading_mb}} ;
                              }
                               #block-{{block.id}} .slide-content .slide-text {
                                  font-size: {{block.settings.font_size_des_mb}} ;
                               }
                          }
                          @media (max-width: 767px) {
                              #block-{{block.id}} .slide-content .slide-heading {
                                  color: {{ block.settings.color_heading_mb }} ;
                              }
                              #block-{{block.id}} .slide-content .slide-sub {
                                  color: {{ block.settings.color_sub_heading_mb }} ;
                              }
                              #block-{{block.id}} .slide-content .slide-heading .line {
                                  background-color: {{ block.settings.color_heading_mb }} ;
                              }
                              #block-{{block.id}} .slide-content .slide-text {
                                  color: {{ block.settings.color_des_mb }} ;
                              }
                              #block-{{block.id}} .slide-content .slide-button {
                                  background-color:{{ block.settings.bg_button_mb }} ;
                                  border-color:{{ block.settings.border_button_mb }} ;
                                  color:{{ block.settings.color_button_mb }} ;
                              }
                              {% if settings.layout_home == 'layout_home_7' %}
                                  #block-{{block.id}} .slide-content.style_4 .slide-button:before {
                                      border-color: {{ block.settings.border_button_mb }};
                                  }
                              {% endif %}
                          }
                          #block-{{block.id}} .slide-content.style_2, #block-{{block.id}} .slide-content.style_3 {
                              background-color: {{ block.settings.bg_color_box }};
                          }
                          #block-{{block.id}} .slide-content.style_2:before, #block-{{block.id}} .slide-content.style_3:before {
                              border-color: {{ block.settings.color_border_box }};
                          }
                          #block-{{block.id}} .slide-content.style_4 .slide-heading strong {
                              color: {{ block.settings.color_heading_style_4 }};
                          }
                        </style>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
          {% if check_video == false and section.blocks.size > 1 %}
            {%- if dots == 'true' or section.settings.arrow_active -%}
              <div class="slide-action {% if section.settings.style_slideshow == 'style_2' %}style_2{% endif %}">
                <ul class="slick-dots {% if dots == 'false' %}hide{% endif %}">
                  {% for block in section.blocks %}
                    <li
                      id="slick-slide{{forloop.index}}"
                      {% if forloop.first %}
                        class="slick-active"
                      {% endif %}
                      data-dot-index="{{forloop.index}}"
                    >
                      <button>
                        {{ forloop.index }}
                      </button>
                    </li>
                  {% endfor %}
                </ul>
                {% if settings.layout_style == 'layout_style_1170' or settings.layout_style == 'layout_style_flower' %}
                  <div class="slick-arrows {% unless section.settings.arrow_active %}hide{% endunless %}">
                    <button
                      type="button"
                      class="slick-prev slick-arrow"
                      aria-label="Previous"
                      data-last-index="{{ section.blocks.size }}"
                    >
                      <svg viewBox="0 0 50 50">
                        <path d="M 11.957031 13.988281 C 11.699219 14.003906 11.457031 14.117188 11.28125 14.308594 L 1.015625 25 L 11.28125 35.691406 C 11.527344 35.953125 11.894531 36.0625 12.242188 35.976563 C 12.589844 35.890625 12.867188 35.625 12.964844 35.28125 C 13.066406 34.933594 12.972656 34.5625 12.71875 34.308594 L 4.746094 26 L 48 26 C 48.359375 26.003906 48.695313 25.816406 48.878906 25.503906 C 49.058594 25.191406 49.058594 24.808594 48.878906 24.496094 C 48.695313 24.183594 48.359375 23.996094 48 24 L 4.746094 24 L 12.71875 15.691406 C 13.011719 15.398438 13.09375 14.957031 12.921875 14.582031 C 12.753906 14.203125 12.371094 13.96875 11.957031 13.988281 Z"></path>
                      </svg>
                    </button>
                    <button
                      type="button"
                      class="slick-next slick-arrow"
                      aria-label="Next"
                      data-last-index="{{ section.blocks.size }}"
                    >
                      <svg viewBox="0 0 50 50">
                        <path d="M 11.957031 13.988281 C 11.699219 14.003906 11.457031 14.117188 11.28125 14.308594 L 1.015625 25 L 11.28125 35.691406 C 11.527344 35.953125 11.894531 36.0625 12.242188 35.976563 C 12.589844 35.890625 12.867188 35.625 12.964844 35.28125 C 13.066406 34.933594 12.972656 34.5625 12.71875 34.308594 L 4.746094 26 L 48 26 C 48.359375 26.003906 48.695313 25.816406 48.878906 25.503906 C 49.058594 25.191406 49.058594 24.808594 48.878906 24.496094 C 48.695313 24.183594 48.359375 23.996094 48 24 L 4.746094 24 L 12.71875 15.691406 C 13.011719 15.398438 13.09375 14.957031 12.921875 14.582031 C 12.753906 14.203125 12.371094 13.96875 11.957031 13.988281 Z"></path>
                      </svg>
                    </button>
                  </div>
                {% elsif settings.layout_style == 'layout_style_fullwidth'
                  or settings.layout_style == 'layout_style_suppermarket'
                %}
                  <div class="slick-arrows {% unless section.settings.arrow_active %}hide{% endunless %}">
                    <button
                      type="button"
                      class="slick-prev slick-arrow"
                      aria-label="Previous"
                      data-last-index="{{ section.blocks.size }}"
                    >
                      <svg viewBox="0 0 370.814 370.814" class="icon icon-chevron-left" id="icon-chevron-left">
                        <g><g><polygon points="292.92,24.848 268.781,0 77.895,185.401 268.781,370.814 292.92,345.961 127.638,185.401"></polygon></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                      </svg>
                    </button>
                    <button
                      type="button"
                      class="slick-next slick-arrow"
                      aria-label="Next"
                      data-last-index="{{ section.blocks.size }}"
                    >
                      <svg viewBox="0 0 478.448 478.448" class="icon icon-chevron-right" id="icon-chevron-right">
                        <g><g><polygon points="131.659,0 100.494,32.035 313.804,239.232 100.494,446.373 131.65,478.448 377.954,239.232"></polygon></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                      </svg>
                    </button>
                  </div>
                {% else %}
                  <div class="slick-arrows {% unless section.settings.arrow_active %}hide{% endunless -%}">
                    <button
                      type="button"
                      class="slick-prev slick-arrow"
                      aria-label="Previous"
                      data-last-index="{{ section.blocks.size }}"
                    >
                      {% render 'icon-left-2' %}
                      {% comment %}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 33">
                          <g id="7f9a1925-e8c7-4614-8787-3c6095a9f6e1" data-name="Layer 2"><g id="c9b7920a-81fa-4bfe-ad13-4da717c6854b" data-name="Layer 1"><g id="c2d982ff-0cf6-4220-b365-47f30d708fea" data-name="e4eb89a6-f885-43b8-9259-0d6b1516fab0"><g id="f51d455e-6b9c-4c4e-96db-a5004582beda" data-name="8e584754-6657-46f1-a9d8-2cfd6623b552"><polygon points="0 16.5 2.1 18.5 17 33 17 29.3 5.9 18.5 3.8 16.5 5.9 14.5 17 3.7 17 0 2.1 14.5 0 16.5"></polygon></g></g></g></g>
                        </svg>
                      {% endcomment %}
                    </button>
                    <button
                      type="button"
                      class="slick-next slick-arrow"
                      aria-label="Next"
                      data-last-index="{{ section.blocks.size }}"
                    >
                      {% render 'icon-right-2' %}
                      {% comment %}
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          version="1.1"
                          id="Layer_1"
                          x="0px"
                          y="0px"
                          viewBox="0 0 17 33"
                          xml:space="preserve"
                        >
                          <g id="e4eb89a6-f885-43b8-9259-0d6b1516fab0"><g id="_x38_e584754-6657-46f1-a9d8-2cfd6623b552"><g><polygon points="14.9,14.5 0,0 0,3.7 11.1,14.5 13.2,16.5 11.1,18.5 0,29.3 0,33 14.9,18.5 17,16.5 "></polygon></g></g></g>
                        </svg>
                      {% endcomment %}
                    </button>
                  </div>
                {% endif %}
              </div>
            {%- endif -%}
          {% endif %}
        </div>
        {% if section.settings.enable_banner %}
          <div class="block-banner-slider">
            {% assign banners = section.blocks | where: 'type', 'banner' %}
            {% for block in banners %}
              {%- assign preview_img = block.settings.image -%}
              {%- assign img_url = block.settings.image | img_url: 'master' -%}
              <div class="banner">
                {% if block.settings.image != blank %}
                  <a
                    href="{{ block.settings.link }}"
                    class="adaptive_height"
                    style="padding-top: {{ 1 | divided_by: preview_img.aspect_ratio | times: 100 }}%"
                  >
                    <img
                      data-srcset="{{ img_url }}"
                      alt="{{ block.settings.image.alt | default: shop.name }}"
                      class="lazyload"
                      data-sizes="auto"
                    >
                  </a>
                {% else %}
                  <a href="{{ block.settings.link }}" class="banner">
                    <div class="not_img">250 x 250px</div>
                  </a>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </section>

  <style>
    {% assign arrow_color =  section.settings.arrow_color %}
    {% assign arrow_border_color =  section.settings.arrow_border_color %}
    {% assign margin_bottom =  section.settings.margin_bottom %}
    {% assign position_slick_arrow =  section.settings.position_slick_arrow %}
    {% assign arrow_bg_color =  section.settings.arrow_bg_color %}

    {% if section.blocks.size > 1 %}
    #slideshow-{{section.id}} .slick-arrow {
        color: {{ arrow_color }};
        border-color: {{ arrow_border_color }};
        {% comment %} background-color: {{ arrow_bg_color }}; {% endcomment %}
    }

    #slideshow-{{section.id}} .slick-arrow.slick-prev {
        left: {{ position_slick_arrow }};
    }

    #slideshow-{{section.id}} .slick-arrow.slick-next {
        right: {{ position_slick_arrow }};
    }

    {% endif %}

    {% if section.settings.min_width_banner_button != blank %}
        #slideshow-{{section.id}} .slide-content .slide-button {
            min-width: {{ section.settings.min_width_banner_button }};
        }
    {% endif %}

    .fluid-width-video-wrapper {
        padding-top: {{ section.settings.video_height }};
    }

    #slideshow-{{section.id}} [data-video-mp4] .fluid-width-video-wrapper:before {
        background: {{ section.settings.bg_video }};
        opacity: {{ section.settings.bg_overlay_opacity | divided_by: 100.00 }};
    }

    #slideshow-{{section.id}} {
        background-color: {{ section.settings.bg_color }};
    }

    #slideshow-{{section.id}} .categories-slider li a {
        color: {{ section.settings.text_icon_color }};
    }

    #slideshow-{{section.id}} .categories-slider .label {
        color: {{ section.settings.label_color  }};
        border-bottom: 2px solid {{ section.settings.bg_label }};
    }

    #slideshow-{{section.id}} .categories-slider .label span {
        background-color: {{ section.settings.bg_label }};
    }
    {% if section.settings.bg_color != 'rgba(0,0,0,0)' %}
        @media (max-width: 767px) {
            #slideshow-{{section.id}} {
                padding-bottom: {{ section.settings.margin_bottom_mb }}px;
            }
        }

        @media (min-width: 768px) and (max-width: 1199px) {
            #slideshow-{{section.id}} {
                padding-bottom: {{ section.settings.margin_bottom_tab }}px;
            }
        }

        @media (min-width: 1200px) {
            #slideshow-{{section.id}} {
                padding-bottom: {{ margin_bottom }}px;
            }
        }
        {% else %}
        @media (max-width: 767px) {
            #slideshow-{{section.id}} {
                margin-bottom: {{ section.settings.margin_bottom_mb }}px;
            }
        }

        @media (min-width: 768px) and (max-width: 1199px) {
            #slideshow-{{section.id}} {
                margin-bottom: {{ section.settings.margin_bottom_tab }}px;
            }
        }

        @media (min-width: 1200px) {
            #slideshow-{{section.id}} {
                margin-bottom: {{ margin_bottom }}px;
            }
        }
    {% endif %}

    @media (min-width: 768px) {
        {% if section.settings.dots_opacity %}
        #slideshow-{{section.id}} .slick-dots li:not(.slick-active) button {
            opacity: 0.8;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
            filter: alpha(opacity=80);
        }
        {% endif %}

        {% if section.settings.style_slideshow == 'style_2' %}
            #slideshow-{{section.id}} .slick-dots li button {
                border-radius: 5px;
                height: 10px;
                width: clamp(20px, 10vw, 160px);
                background: #FFFFFF3F;
                border: unset;
                {% comment %} border-color: {{ section.settings.dots_color }};
                background: rgba(255,255,255,0.3);
                border-width: 1.5px; {% endcomment %}
            }

            #slideshow-{{section.id}} .slick-dots li.slick-active button {
                background: {{ section.settings.dots_active_color }};
                border-color: {{ section.settings.dots_active_color }};
            }
            #slideshow-{{section.id}} .slick-dots {
                background-color: {{ section.settings.bg_dots_color }};
            }
        {% else %}
            #slideshow-{{section.id}} .slick-dots li button {
                border-color: {{ section.settings.dots_color }};
                background: {{ section.settings.dots_color }};
                border-width: 1.5px;
            }

            #slideshow-{{section.id}} .slick-dots li.slick-active button {
                background: rgba(255,255,255,0);
                border-color: {{ section.settings.dots_active_color }};
            }
        {% endif %}
    }

    {% if settings.layout_style == 'layout_style_suppermarket' %}
        #slideshow-{{section.id}} .slick-dots li button {
            border-color: {{ section.settings.dots_color }};
            background: {{ section.settings.dots_color }};
            border-width: 1.5px;
        }
        #slideshow-{{section.id}} .slick-dots li.slick-active button {
            background: rgba(255,255,255,0);
            border-color: {{ section.settings.dots_active_color }};
        }
    {% endif %}

    {% if settings.layout_style == 'layout_style_suppermarket' %}
        #slideshow-{{section.id}} .slick-dots li.slick-active button {
            background: {{ section.settings.dots_active_color }} ;
        }
    {% endif %}
  </style>
{% endif %}

{% schema %}
{
  "name": "Slideshow",
  "class": "home-slideshow-sections",
  "max_blocks": 20,
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "Slideshow Layout:",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "padd_60",
          "label": "Boxed"
        },
        {
          "value": "full",
          "label": "Full Width"
        }
      ],
      "default": "full"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "checkbox",
      "id": "disable_lazyload",
      "label": "Pics Disable Lazyload?",
      "default": false
    },
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "text",
      "id": "widget_title",
      "label": "Widget Title"
    },
    {
      "type": "select",
      "id": "title_style",
      "label": "Title Style:",
      "options": [
        {
          "value": "style_1",
          "label": "Style 1"
        },
        {
          "value": "style_2",
          "label": "Style 2"
        }
      ],
      "default": "style_1"
    },
    {
      "type": "header",
      "content": "Margin Bottom:"
    },
    {
      "type": "range",
      "id": "margin_bottom_mb",
      "label": "Mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20
    },
    {
      "type": "range",
      "id": "margin_bottom_tab",
      "label": "Tablet",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 30
    },
    {
      "type": "header",
      "content": "Settings for Slideshow"
    },
    {
      "type": "select",
      "id": "style_slideshow",
      "label": "Style Slideshow",
      "default": "style_1",
      "options": [
        {
          "value": "style_1",
          "label": "Style 1"
        },
        {
          "value": "style_2",
          "label": "Style 2"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Slideshow Auto Play",
      "default": true
    },
    {
      "type": "select",
      "id": "slideshow_speed",
      "label": "Change slides every",

      "options": [
        { "value": "5000", "label": "5 seconds" },
        { "value": "6000", "label": "6 seconds" },
        { "value": "7000", "label": "7 seconds" },
        { "value": "8000", "label": "8 seconds" },
        { "value": "9000", "label": "9 seconds" },
        { "value": "10000", "label": "10 seconds" }
      ],
      "default": "5000"
    },
    {
      "type": "select",
      "id": "slideshow_transition",
      "label": "Slideshow transition effect",
      "options": [
        {
          "value": "false",
          "label": "Slide"
        },
        {
          "value": "true",
          "label": "Fade"
        }
      ],
      "default": "true"
    },
    {
      "type": "radio",
      "id": "dots",
      "label": "Show Dots for Slideshow (Desktop)",
      "options": [
        {
          "value": "true",
          "label": "True"
        },
        {
          "value": "false",
          "label": "False"
        }
      ],
      "default": "true"
    },
    {
      "type": "color",
      "id": "dots_color",
      "label": "Dots color",
      "default": "#707979",
      "info": "Default Value: #707979"
    },
    {
      "type": "color",
      "id": "dots_active_color",
      "label": "Dots Active color",
      "default": "#505656",
      "info": "Default Value: #505656"
    },
    {
      "type": "checkbox",
      "id": "dots_opacity",
      "label": "Dots Opacity (80%)",
      "default": false
    },
    {
      "type": "color",
      "id": "bg_dots_color",
      "label": "Dots Background Style 2",
      "default": "#bababa",
      "info": "======================="
    },
    {
      "type": "checkbox",
      "id": "arrow_active",
      "label": "Show Arrow for Slideshow (Desktop)",
      "default": true
    },
    {
      "type": "color",
      "id": "arrow_color",
      "label": "Arrow color",
      "default": "#666d6d",
      "info": "Default Value: #666d6d"
    },
    {
      "type": "color",
      "id": "arrow_border_color",
      "label": "Arrow Border color",
      "default": "#666d6d",
      "info": "Default Value: #666d6d"
    },
    {
      "type": "color",
      "id": "arrow_bg_color",
      "label": "Arrow background color",
      "default": "#fff",
      "info": "Default Value: #fff"
    },
    {
      "type": "text",
      "id": "position_slick_arrow",
      "label": "Position Arrow - Unit % or px",
      "default": "10%"
    },
    {
      "type": "text",
      "id": "min_width_banner_button",
      "label": "Banner Button Width",
      "default": "270px",
      "info": "Default: 270px"
    },
    {
      "type": "header",
      "content": "Settings for Video"
    },
    {
      "type": "color",
      "id": "bg_video",
      "label": "Background Color video",
      "default": "#866965"
    },
    {
      "type": "range",
      "id": "bg_overlay_opacity",
      "label": "Opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 40
    },
    {
      "type": "text",
      "id": "video_height",
      "label": "Slideshow Video Height",
      "default": "41.7%",
      "info": "You can adjust the height of video to be fit with slider image by %. Example: 30%, 47.25%, 51%."
    },
    {
      "type": "checkbox",
      "id": "auto_playvideo",
      "label": "Autoplay video",
      "default": true
    },
    {
      "type": "header",
      "content": "Categories"
    },
    {
      "type": "checkbox",
      "id": "enable_categories",
      "label": "Enable?",
      "default": false
    },
    {
      "type": "text",
      "id": "text_categories",
      "label": "Label",
      "default": "Shop by categories"
    },
    {
      "type": "color",
      "id": "label_color",
      "label": "Label color"
    },
    {
      "type": "color",
      "id": "bg_label",
      "label": "Label Background Color"
    },
    {
      "type": "color",
      "id": "text_icon_color",
      "label": "Text Color"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Select Menu"
    },
    {
      "type": "header",
      "content": "Banner"
    },
    {
      "type": "checkbox",
      "id": "enable_banner",
      "label": "Enable?",
      "default": false
    }
  ],

  "blocks": [
    {
      "type": "image",
      "name": "Image SlideShow",
      "settings": [
        {
          "type": "checkbox",
          "id": "dpl_slide_img",
          "label": "Enable",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "image_slide",
          "label": "Select Image",
          "info": "Recommended Image: Width x Height (1920 x 800)px"
        },
        {
          "type": "image_picker",
          "id": "image_slide_mb",
          "label": "Select Image Mobile",
          "info": "Recommended Image: Width x Height (450 x 300)px"
        },
        {
          "type": "header",
          "content": "Slideshow Layout",
          "info": "======================="
        },
        {
          "type": "select",
          "id": "style_content",
          "label": "Style Content",
          "default": "style_1",
          "options": [
            {
              "value": "style_1",
              "label": "Style 1"
            },
            {
              "value": "style_2",
              "label": "Style 2"
            },
            {
              "value": "style_3",
              "label": "Style 3"
            },
            {
              "value": "style_4",
              "label": "Style 4"
            }
          ]
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Position Content",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "custom",
              "label": "Custom"
            }
          ]
        },
        {
          "type": "text",
          "id": "alignment_custom",
          "label": "Left Position Content Custom",
          "default": "35%",
          "info": "This option is available only when Position Content is selected as Custom"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "default": "center",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "color",
          "id": "bg_color_box",
          "label": "Background Color Content Style 2",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "color_border_box",
          "label": "Background Border Content Style 2",
          "default": "#bcbcbc"
        },
        {
          "type": "header",
          "content": "Slideshow Content",
          "info": "======================="
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Cosmopolis"
        },
        {
          "type": "text",
          "id": "font_size_heading",
          "label": "Heading Font Size ",
          "default": "40px"
        },
        {
          "type": "text",
          "id": "font_size_heading_mb",
          "label": "Heading Font Size Mobile",
          "default": "24px"
        },
        {
          "type": "color",
          "id": "color_heading",
          "label": "Heading Color",
          "default": "#232323"
        },
        {
          "type": "color",
          "id": "color_heading_style_4",
          "label": "Heading Color Style 4",
          "default": "#10ffda"
        },
        {
          "type": "color",
          "id": "color_heading_mb",
          "label": "Heading Color Mobile",
          "default": "#fff"
        },
        {
          "type": "text",
          "id": "sub_heading",
          "label": "Sub Heading"
        },
        {
          "type": "checkbox",
          "id": "special_sub_heading",
          "label": "Enable",
          "default": true
        },
        {
          "type": "text",
          "id": "font_size_sub_heading",
          "label": "Sub Heading Font Size ",
          "default": "30px"
        },
        {
          "type": "text",
          "id": "font_size_sub_heading_mb",
          "label": "Sub Heading Font Size Mobile",
          "default": "18px"
        },
        {
          "type": "color",
          "id": "color_sub_heading",
          "label": "Sub Heading Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "color_sub_heading_mb",
          "label": "Sub Heading Color Mobile",
          "default": "#fff"
        },
        {
          "type": "textarea",
          "id": "slide-des",
          "label": "Slide Description",
          "default": "Quisquemos sodales suscipit tortor ditaemcos condimentum de cosmo lacus meleifend menean diverra loremous."
        },
        {
          "type": "text",
          "id": "font_size_des",
          "label": "Description Font Size",
          "default": "12px"
        },
        {
          "type": "text",
          "id": "font_size_des_mb",
          "label": "Description Font Size Mobile",
          "default": "12px"
        },
        {
          "type": "color",
          "id": "color_des",
          "label": "Description Color",
          "default": "#232323"
        },
        {
          "type": "color",
          "id": "color_des_mb",
          "label": "Description Color mobile",
          "default": "#fff"
        },
        {
          "type": "text",
          "id": "button_slide",
          "label": "Button Slideshow",
          "default": "Shop The Collection"
        },
        {
          "type": "checkbox",
          "id": "special_slideshow_btn",
          "label": "Enable",
          "default": false
        },
        {
          "type": "url",
          "id": "link",
          "label": "Slide link",
          "info": "====================="
        },
        {
          "type": "text",
          "id": "button_slide_2",
          "label": "Button Slideshow 2"
        },
        {
          "type": "url",
          "id": "link_2",
          "label": "Slide link 2"
        },
        {
          "type": "color",
          "id": "bg_button",
          "label": "Background Button",
          "default": "#232323"
        },
        {
          "type": "color",
          "id": "border_button",
          "label": "Border Button",
          "default": "#232323"
        },
        {
          "type": "color",
          "id": "color_button",
          "label": "Button Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "bg_button_mb",
          "label": "Background Button Mobile",
          "default": "#232323"
        },
        {
          "type": "color",
          "id": "border_button_mb",
          "label": "Border Button Mobile",
          "default": "#232323"
        },
        {
          "type": "color",
          "id": "color_button_mb",
          "label": "Button Color Mobile",
          "default": "#fff"
        },
        {
          "type": "header",
          "content": "Newsletter Banner",
          "info": "======================="
        },
        {
          "type": "checkbox",
          "id": "is_newsletter_banner",
          "label": "Enable",
          "default": false
        },
        {
          "type": "header",
          "content": "Slideshow with Lookbook",
          "info": "======================="
        },
        {
          "type": "header",
          "content": "Product 1"
        },
        {
          "type": "product",
          "id": "lb_product_1",
          "label": "Select Product"
        },
        {
          "type": "text",
          "id": "top_position_1",
          "label": "Top Position",
          "default": "10",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "left_position_1",
          "label": "Left Position",
          "default": "10",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "top_position_1_mb",
          "label": "Top Position On Mobile",
          "default": "10",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "left_position_1_mb",
          "label": "Left Position On Mobile",
          "default": "10",
          "info": "Unit %"
        },
        {
          "type": "color",
          "id": "dots_color_1",
          "label": "Select Icon Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "dots_bg_color_1",
          "label": "Select Icon Background color",
          "default": "#323232"
        },
        {
          "type": "color",
          "id": "dots_shadow_color_1",
          "label": "Select Icon Shadow Color",
          "default": "#fff",
          "info": "======================="
        },

        {
          "type": "header",
          "content": "Product 2"
        },
        {
          "type": "product",
          "id": "lb_product_2",
          "label": "Select Product"
        },
        {
          "type": "text",
          "id": "top_position_2",
          "label": "Top Position",
          "default": "10",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "left_position_2",
          "label": "Left Position",
          "default": "10",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "top_position_2_mb",
          "label": "Top Position On Mobile",
          "default": "10",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "left_position_2_mb",
          "label": "Left Position On Mobile",
          "default": "10",
          "info": "Unit %"
        },
        {
          "type": "color",
          "id": "dots_color_2",
          "label": "Select Icon Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "dots_bg_color_2",
          "label": "Select Icon Background color",
          "default": "#323232"
        },
        {
          "type": "color",
          "id": "dots_shadow_color_2",
          "label": "Select Icon Shadow Color",
          "default": "#fff",
          "info": "======================="
        },
        {
          "type": "header",
          "content": "Product 3"
        },
        {
          "type": "product",
          "id": "lb_product_3",
          "label": "Select Product"
        },
        {
          "type": "text",
          "id": "top_position_3",
          "label": "Top Position",
          "default": "10",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "left_position_3",
          "label": "Left Position",
          "default": "10",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "top_position_3_mb",
          "label": "Top Position On Mobile",
          "default": "10",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "left_position_3_mb",
          "label": "Left Position On Mobile",
          "default": "10",
          "info": "Unit %"
        },
        {
          "type": "color",
          "id": "dots_color_3",
          "label": "Select Icon Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "dots_bg_color_3",
          "label": "Select Icon Background color",
          "default": "#323232"
        },
        {
          "type": "color",
          "id": "dots_shadow_color_3",
          "label": "Select Icon Shadow Color",
          "default": "#fff",
          "info": "======================="
        },
        {
          "type": "header",
          "content": "Product 4"
        },
        {
          "type": "product",
          "id": "lb_product_4",
          "label": "Select Product"
        },
        {
          "type": "text",
          "id": "top_position_4",
          "label": "Top Position",
          "default": "10",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "left_position_4",
          "label": "Left Position",
          "default": "10",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "top_position_4_mb",
          "label": "Top Position On Mobile",
          "default": "10",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "left_position_4_mb",
          "label": "Left Position On Mobile",
          "default": "10",
          "info": "Unit %"
        },
        {
          "type": "color",
          "id": "dots_color_4",
          "label": "Select Icon Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "dots_bg_color_4",
          "label": "Select Icon Background color",
          "default": "#323232"
        },
        {
          "type": "color",
          "id": "dots_shadow_color_4",
          "label": "Select Icon Shadow Color",
          "default": "#fff",
          "info": "======================="
        },
        {
          "type": "header",
          "content": "Product 5"
        },
        {
          "type": "product",
          "id": "lb_product_5",
          "label": "Select Product"
        },
        {
          "type": "text",
          "id": "top_position_5",
          "label": "Top Position",
          "default": "10",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "left_position_5",
          "label": "Left Position",
          "default": "10",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "top_position_5_mb",
          "label": "Top Position On Mobile",
          "default": "10",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "left_position_5_mb",
          "label": "Left Position On Mobile",
          "default": "10",
          "info": "Unit %"
        },
        {
          "type": "color",
          "id": "dots_color_5",
          "label": "Select Icon Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "dots_bg_color_5",
          "label": "Select Icon Background color",
          "default": "#323232"
        },
        {
          "type": "color",
          "id": "dots_shadow_color_5",
          "label": "Select Icon Shadow Color",
          "default": "#fff",
          "info": "======================="
        },
        {
          "type": "header",
          "content": "Product 6"
        },
        {
          "type": "product",
          "id": "lb_product_6",
          "label": "Select Product"
        },
        {
          "type": "text",
          "id": "top_position_6",
          "label": "Top Position",
          "default": "10",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "left_position_6",
          "label": "Left Position",
          "default": "10",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "top_position_6_mb",
          "label": "Top Position On Mobile",
          "default": "10",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "left_position_6_mb",
          "label": "Left Position On Mobile",
          "default": "10",
          "info": "Unit %"
        },
        {
          "type": "color",
          "id": "dots_color_6",
          "label": "Select Icon Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "dots_bg_color_6",
          "label": "Select Icon Background color",
          "default": "#323232"
        },
        {
          "type": "color",
          "id": "dots_shadow_color_6",
          "label": "Select Icon Shadow Color",
          "default": "#fff"
        },
        {
          "type": "header",
          "content": "banner右下的小提示"
        },
        {
          "type": "text",
          "id": "banner_note",
          "label": "Banner Note"
        },
        {
          "type": "richtext",
          "id": "under_banner_note",
          "label": "Under Banner Note"
        },

        {
          "type": "header",
          "content": "折扣按钮配置"
        },
        {
          "type": "checkbox",
          "id": "show_discount_btn",
          "label": "是否展示折扣按钮?",
          "default": false
        },
        {
          "type": "paragraph",
          "content": "===========PUBLIC==========="
        },
        {
          "type": "color",
          "id": "discount_btn_color",
          "label": "按钮文字颜色",
          "default": "#fff"
        },
        {
          "type": "text",
          "id": "discount_btn_bg",
          "label": "按钮背景色",
          "default": "#fcf3e500",
          "info": "可使用: 六位十六进制(eg.FF0000);八位十六进制(eg.#fcf3e500);RGB、RGBA格式，透明底默认带一定的磨砂效果，防止文字展示不明显"
        },
        {
          "type": "text",
          "id": "discount_btn_border_bold",
          "label": "按钮边框粗细",
          "default": "1",
          "info": "Unit px"
        },
        {
          "type": "color",
          "id": "discount_btn_border_color",
          "label": "按钮边框色",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "discount_btn_cover_fz_color",
          "label": "按钮遮罩文字颜色",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "discount_btn_cover_bg_color",
          "label": "按钮遮罩背景颜色",
          "default": "#fff"
        },
        {
          "type": "checkbox",
          "id": "show_discount_btn_1",
          "label": "是否展示折扣按钮1?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_discount_btn_2",
          "label": "是否展示折扣按钮2?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_discount_btn_3",
          "label": "是否展示折扣按钮3?",
          "default": true
        },
        {
          "type": "paragraph",
          "content": "===========PC==========="
        },
        {
          "type": "text",
          "id": "discount_btn_width",
          "label": "PC端按钮宽度",
          "default": "16",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "discount_btn_height",
          "label": "PC端按钮高度",
          "default": "8",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "discount_btn_font_size",
          "label": "PC端按钮字体大小",
          "default": "1.2",
          "info": "Unit vw(窗口宽度除以100，乘该参数)"
        },
        {
          "type": "text",
          "id": "discount_btn_top_position_1",
          "label": "PC端按钮1距离顶部的位置",
          "default": "10",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "discount_btn_left_position_1",
          "label": "PC端按钮1距离左侧的位置",
          "default": "10",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "discount_btn_top_position_2",
          "label": "PC端按钮2距离顶部的位置",
          "default": "20",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "discount_btn_left_position_2",
          "label": "PC端按钮2距离左侧的位置",
          "default": "20",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "discount_btn_top_position_3",
          "label": "PC端按钮3距离顶部的位置",
          "default": "30",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "discount_btn_left_position_3",
          "label": "PC端按钮3距离左侧的位置",
          "default": "30",
          "info": "Unit %"
        },
        {
          "type": "paragraph",
          "content": "===========MB==========="
        },
        {
          "type": "text",
          "id": "discount_btn_width_mb",
          "label": "移动端按钮宽度",
          "default": "25",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "discount_btn_height_mb",
          "label": "移动端按钮高度",
          "default": "8",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "discount_btn_font_size_mb",
          "label": "移动端按钮字体大小",
          "default": "1.8",
          "info": "Unit vw(窗口宽度除以100，乘该参数)"
        },
        {
          "type": "text",
          "id": "discount_btn_top_position_1_mb",
          "label": "移动端按钮1距离顶部的位置",
          "default": "10",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "discount_btn_left_position_1_mb",
          "label": "移动端按钮1距离左侧的位置",
          "default": "10",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "discount_btn_top_position_2_mb",
          "label": "移动端按钮2距离顶部的位置",
          "default": "20",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "discount_btn_left_position_2_mb",
          "label": "移动端按钮2距离左侧的位置",
          "default": "20",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "discount_btn_top_position_3_mb",
          "label": "移动端按钮3距离顶部的位置",
          "default": "30",
          "info": "Unit %"
        },
        {
          "type": "text",
          "id": "discount_btn_left_position_3_mb",
          "label": "移动端按钮3距离左侧的位置",
          "default": "30",
          "info": "Unit %"
        }
      ]
    },
    {
      "type": "video",
      "name": "Video Slider",
      "settings": [
        {
          "type": "checkbox",
          "id": "dpl_slide_img",
          "label": "Enable",
          "default": true
        },
        {
          "type": "radio",
          "id": "style_video",
          "label": "Style Video",
          "options": [
            {
              "value": "youtube",
              "label": "Youtube"
            },
            {
              "value": "mp4",
              "label": "Mp4"
            }
          ],
          "default": "youtube"
        },
        {
          "type": "header",
          "content": "Youtube"
        },
        {
          "type": "text",
          "id": "video_link",
          "label": "YouTube video ID",
          "default": "eTCtDW7O1aM",
          "info": "[Find your YouTube video ID](https://www.youtube.com/watch?v=liJVSwOiiwg)."
        },
        {
          "type": "header",
          "content": "MP4"
        },
        {
          "type": "text",
          "id": "video_mp4_link",
          "label": "Video link"
        },
        {
          "type": "header",
          "content": "Slideshow Content",
          "info": "Use for MP4 Video"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Text alignment",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Cosmopolis"
        },
        {
          "type": "text",
          "id": "font_size_heading",
          "label": "Heading Font Size ",
          "default": "40px"
        },
        {
          "type": "color",
          "id": "color_heading",
          "label": "Heading Color",
          "default": "#232323"
        },
        {
          "type": "color",
          "id": "color_heading_mb",
          "label": "Heading Color Mobile",
          "default": "#fff"
        },
        {
          "type": "textarea",
          "id": "slide-des",
          "label": "Slide Description",
          "default": "Quisquemos sodales suscipit tortor ditaemcos condimentum de cosmo lacus meleifend menean diverra loremous."
        },
        {
          "type": "text",
          "id": "font_size_des",
          "label": "Description Font Size",
          "default": "12px"
        },
        {
          "type": "color",
          "id": "color_des",
          "label": "Description Color",
          "default": "#232323"
        },
        {
          "type": "color",
          "id": "color_des_mb",
          "label": "Description Color Mobile",
          "default": "#fff"
        },
        {
          "type": "text",
          "id": "button_slide",
          "label": "Button Slideshow",
          "default": "Shop The Collection"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Slide link"
        },
        {
          "type": "color",
          "id": "bg_button",
          "label": "Background Button",
          "default": "#232323"
        },
        {
          "type": "color",
          "id": "border_button",
          "label": "Border Button",
          "default": "#232323"
        },
        {
          "type": "color",
          "id": "color_button",
          "label": "Button Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "bg_button_mb",
          "label": "Background Button Mobile",
          "default": "#232323"
        },
        {
          "type": "color",
          "id": "border_button_mb",
          "label": "Border Button Mobile",
          "default": "#232323"
        },
        {
          "type": "color",
          "id": "color_button_mb",
          "label": "Button Color Mobile",
          "default": "#fff"
        }
      ]
    },
    {
      "type": "banner",
      "name": "Banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Recommended Image: (250 x 250)px"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow",
      "category": "Slideshow",
      "blocks": [
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
