<link rel="stylesheet" type="text/css" href="{{ 'index-buy-more-save.css' | asset_url }}">
<div class="index-buy-more-save section-block-{{section.id}} index-normal-component">
  <div class="container deals-box">
    {% if section.settings.title and section.settings.title != '' %}
      <h2 class="main-page-title {% if section.settings.title_add_desc %}with-desc{% endif %}">
        {% if section.settings.title_style == '1' %}
          <span class="small-title">{{ section.settings.title | upcase }}</span>
          <span class="text-shadow">{{ section.settings.title | upcase }}</span>
        {% else %}
          <span class="small-title2">{{ section.settings.title }}</span>
        {% endif %}
      </h2>
      {% if section.settings.title_add_desc %}
        <div class="desc-add">
          {{ section.settings.title_add_desc }}
        </div>
      {% endif %}
    {% endif %}
    <div class="content-box">
      {% for block in section.blocks %}
        <div class="card-box">
          <div class="card-header">
            <div class="card-title">{{ block.settings.card_title }}</div>
            <div class="card-discount">{{ block.settings.card_discount }}</div>
          </div>
          <div class="card-content">
            <div class="card-info-list">
              {{ block.settings.card_content }}
            </div>
            <a href="{{block.settings.url}}" class="card-btn">Buy Now</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Index Buy More Save",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section title"
    },
    {
      "type": "radio",
      "id": "title_style",
      "label": "Title Style",
      "options": [
        {
          "value": "1",
          "label": "Title Style1(叠影)"
        },
        {
          "value": "2",
          "label": "Title Style1(单色)"
        }
      ],
      "default": "1"
    },
    {
      "type": "text",
      "id": "title_add_desc",
      "label": "标题下方的描述"
    }
  ],
  "blocks": [
    {
      "name": "Every block",
      "type": "card-show",
      "settings": [
        {
          "type": "text",
          "id": "card_title",
          "label": "Card Title"
        },
        {
          "type": "text",
          "id": "card_discount",
          "label": "Card Discount"
        },
        {
          "type": "textarea",
          "id": "card_content",
          "label": "Card Content"
        },
        {
          "type":"url",
          "id":"url",
          "label":"Link To",
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Index Buy More Save"
    }
  ]
}
{% endschema %}
