{% layout none %}
{% for item in cart.items %}
  <li class="item" id="cart-item-{{item.id}}" data-product-id="{{item.id}}">
    <a href="{{item.url}}" class="product-image">
      <img src="{{ item.image | product_img_url: '160x' }}" alt="{{item.title}}">
      {% if item.variant.metafields.custom.presale_info.value.isPresale %}
        <div class="pre-sale-box-small">
          <span>Presale</span>
        </div>
      {% endif %}
    </a>
    <div class="product-details">
      <a class="product-name" href="{{item.url}}">
        {% render 'multilang' with item.product.title %}
      </a>

      <div class="option">
        {% if item.product.variants.size != 0 %}
          {% unless item.variant.title contains 'Default' %}
            <small>{{ item.variant.title }}</small>
            <a
              href="JavaScript:void(0);"
              class="product-details__edit"
              data-cart-edit
              aria-label="link"
              data-url="{{item.url}}&view=cart_edit"
              data-id="{{item.id}}"
              data-quantity="{{ item.quantity }}"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="#000000"
                viewBox="0 0 48 48"
                width="144px"
                height="144px"
              >
                <path d="M 10.5 6 C 7.468 6 5 8.468 5 11.5 L 5 36 C 5 39.309 7.691 42 11 42 L 22.605469 42 C 22.858469 41.042 23.225516 39.759 23.728516 38 L 11 38 C 9.897 38 9 37.103 9 36 L 9 16 L 39 16 L 39 22.521484 C 39.427 22.340484 39.8615 22.188422 40.3125 22.107422 C 40.7065 22.036422 41.102859 21.992953 41.505859 22.001953 C 42.015859 22.001953 42.515 22.067641 43 22.181641 L 43 11.5 C 43 8.468 40.532 6 37.5 6 L 10.5 6 z M 13.5 20 A 1.50015 1.50015 0 1 0 13.5 23 L 15.5 23 A 1.50015 1.50015 0 1 0 15.5 20 L 13.5 20 z M 21.5 20 C 20.672 20 20 20.671 20 21.5 C 20 22.329 20.672 23 21.5 23 L 34.5 23 C 35.328 23 36 22.329 36 21.5 C 36 20.671 35.328 20 34.5 20 L 21.5 20 z M 41.498047 24 C 41.224047 24.001 40.946969 24.025172 40.667969 24.076172 C 39.783969 24.235172 38.939563 24.696156 38.226562 25.410156 L 26.427734 37.208984 C 26.070734 37.565984 25.807969 38.011141 25.667969 38.494141 L 24.097656 43.974609 C 24.025656 44.164609 23.993 44.365406 24 44.566406 C 24.013 44.929406 24.155594 45.288406 24.433594 45.566406 C 24.710594 45.843406 25.067688 45.986 25.429688 46 C 25.630688 46.007 25.834391 45.975344 26.025391 45.902344 L 31.505859 44.332031 C 31.988859 44.192031 32.431062 43.930266 32.789062 43.572266 L 44.589844 31.773438 C 45.303844 31.060437 45.764828 30.216031 45.923828 29.332031 C 45.973828 29.053031 45.997047 28.775953 45.998047 28.501953 C 46.001047 27.307953 45.540687 26.179312 44.679688 25.320312 C 43.820687 24.460313 42.692047 23.998 41.498047 24 z M 13.5 26 A 1.50015 1.50015 0 1 0 13.5 29 L 15.5 29 A 1.50015 1.50015 0 1 0 15.5 26 L 13.5 26 z M 21.5 26 C 20.672 26 20 26.671 20 27.5 C 20 28.329 20.672 29 21.5 29 L 31.808594 29 L 34.779297 26.027344 C 34.688297 26.010344 34.596 26 34.5 26 L 21.5 26 z M 13.5 32 A 1.50015 1.50015 0 1 0 13.5 35 L 15.5 35 A 1.50015 1.50015 0 1 0 15.5 32 L 13.5 32 z M 21.5 32 C 20.672 32 20 32.671 20 33.5 C 20 34.329 20.672 35 21.5 35 L 25.808594 35 L 28.808594 32 L 21.5 32 z"/>
              </svg>
            </a>
          {% endunless %}
        {% endif %}
      </div>

      <div class="cart-collateral">
        <div data-key="{{item.key}}" class="price">
          {% assign original_price = item.original_price %}
          {% assign final_price = item.final_price %}
          {% assign crossed_price = null %}
          {% assign product_handle = item.product.handle %}
          {% assign target_product = all_products[product_handle] %}
          {% if target_product %}
            {% for variant in target_product.variants %}
              {% if variant.id == item.variant_id %}
                {% assign found_variant = variant %}
                {% assign crossed_price = found_variant.compare_at_price %}
                {% break %}
              {% endif %}
            {% endfor %}
          {% endif %}

          {% if crossed_price and crossed_price != original_price %}
            <span class="crossed_price">{{ crossed_price | money }}</span>
          {% endif %}
          <span class="original_price {% if original_price == final_price %}last-show-price{% endif %}">{{ original_price | money }}</span>
          <ul class="pro-disct-box">
            {% for disct_item in item.line_level_discount_allocations %}
              <li class="pro-disct">
                {% comment %} {%  render 'discount-code', class: "icon icon-saletag" %} {% endcomment %}
                <svg class="icon icon-saletag" id="icon-saletag">
                  <path d="M10 3a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm0-3H7a1 1 0 0 0-.71.29l-6 6a1 1 0 0 0 0 1.42l4 4a1 1 0 0 0 1.42 0c.19-.2 5.8-5.81 6-6A1 1 0 0 0 12 5V2a2 2 0 0 0-2-2z" fill="#a1a1a1"></path>
                </svg>
                <span>{{ disct_item.discount_application.title }}</span>
              </li>
            {% endfor %}
          </ul>
          <span class="discounted_price {% if original_price == final_price %}hide{% endif %}">Flash Sales: <span class="disc-price">{{ final_price | money }}</span></span>

        </div>
      </div>
      <div class="quantity">
        <div class="cart-options">
          {% render 'input-number', item: item %}
          <a href="javascript:void(0)" title="{{ 'cart.general.remove' | t }}" class="btn-remove">
            {% render 'trash-icon' %}
          </a>
        </div>
        <span class="error-message-input"></span>
      </div>
    </div>
  </li>
{% endfor %}
